<Say::Hint @size="small" @type="sectioned" as |hint|>
	{{#if isDateTime }}
		<hint.header>
	    Voeg <strong>{{info.plainValue}}</strong> op tijdstip <strong>{{info.rdfaProperty.label}}</strong> in.
		</hint.header>
		<hint.content @padded="small">
	    <form class="form col--12-12 col--1-1--s">
	      <div class="u-spacer--tiny">
	        <div class="double-input js-double-input">
	          <div class="double-input__inputs">
	            <div class="double-input__input" style="width:30%">
			        	<Say::Label>Tijdstip uur</Say::Label>
		        		<Say::InputNumber @width="block" @type="number" @value={{this.hours}} @min="0" @max="23"></Say::InputNumber>
	            </div>
	            <div class="double-input__input" style="width:30%">
			        	<Say::Label>minuten</Say::Label>
		        		<Say::InputNumber @width="block" @type="number" @value={{this.minutes}} @min="0" @max="59"></Say::InputNumber>
	            </div>
			      </div>
			    </div>
	      </div>
	    </form>
		</hint.content>
		<hint.footer>
		  <Say::ActionGroup>
			  <Say::Button @width="narrow" @onClick={{action "insertDateTime" info hours minutes}}>Voeg in</Say::Button>
			  {{!-- <Say::Button @width="narrow" @style="alt" @onClick=null>Annuleer</Say::Button> --}}
			</Say::ActionGroup>
		</hint.footer>

	{{else}}
		<hint.header>
	    Voeg <strong>{{info.plainValue}}</strong> als <strong>{{info.rdfaProperty.label}}</strong> in.
		</hint.header>
		<hint.footer>
		  <Say::ActionGroup>
			  <Say::Button @width="narrow" @onClick={{action "insert" info}}>Voeg in</Say::Button>
			  {{!-- <Say::Button @width="narrow" @style="alt" @onClick=null>Annuleer</Say::Button> --}}
			</Say::ActionGroup>
		</hint.footer>
	{{/if}}
</Say::Hint>
{{yield}}
